# Google App Engine generated folder
appengine-generated/
import Firebase
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385181655051-aoervqb87q3lfn1u5lg5q6j3s0qcs09a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385181655051-aoervqb87q3lfn1u5lg5q6j3s0qcs09a</string>
	<key>API_KEY</key>
	<string>AIzaSyBcVm9bwEj776-UXPxOmvwxsOmuqEoupig</string>
	<key>GCM_SENDER_ID</key>
	<string>385181655051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tomssweetcompany.goodieapp</string>
	<key>PROJECT_ID</key>
	<string>tomssweetcompany</string>
	<key>STORAGE_BUCKET</key>
	<string>tomssweetcompany.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385181655051:ios:cfdd9fdc1f996664</string>
	<key>DATABASE_URL</key>
	<string>https://tomssweetcompany.firebaseio.com</string>
</dict>
</plist>
